In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('ConsumerNPPMasterData.xlsx')

In [3]:
df.head()

,DMA,Metrics,Date,aspmn / banner,aspmn / enewsletter banner,cardinal health / email,coegi / banner,dmd / email,ehs / banner,ehs / email,...,ppm / banner,ppm / email,pulsepoint / banner,semcasting / banner,sharecare / banner,trendmd / headline,valassis / banner,various / banner,webmd / banner,webmd / native
0,(not set),Clicks,2019-07-01,6,4,0,0,0,0,0,...,0,0,0,0,0,0,278,0,0,71
1,(not set),Clicks,2019-08-01,6,0,0,0,0,0,0,...,0,0,3,0,0,0,209,0,0,167
2,(not set),Clicks,2019-09-01,10,2,0,0,0,37,0,...,0,0,1,0,0,0,403,0,0,260
3,(not set),Clicks,2019-10-01,3,1,0,63,0,67,0,...,15,0,0,0,0,16,68,0,0,238
4,(not set),Clicks,2019-11-01,9,1,0,27,0,56,0,...,27,0,0,0,0,0,44,0,0,188

In [4]:
df.columns.to_list()

['DMA',
 'Metrics',
 'Date',
 'aspmn / banner',
 'aspmn / enewsletter banner',
 'cardinal health / email',
 'coegi / banner',
 'dmd / email',
 'ehs / banner',
 'ehs / email',
 'ehs / native',
 'everydayhealth / banner',
 'facebook / paid social',
 'google / cpc',
 'medscape / push email',
 'numedis / mdchatbot',
 'painmedicinenews / banner',
 'painweek / email',
 'ppm / banner',
 'ppm / email',
 'pulsepoint / banner',
 'semcasting / banner',
 'sharecare / banner',
 'trendmd / headline',
 'valassis / banner',
 'various / banner',
 'webmd / banner',
 'webmd / native']

In [8]:
df.Metrics.unique()

array(['Clicks', 'Conversions', 'Engaged Visits', 'Impressions',
       'Sessions'], dtype=object)

In [9]:
df['aspmn / banner'].value_counts()

aspmn / banner
0       10946
1         313
2         191
3          85
5          54
        ...
1378        1
2743        1
884         1
877         1
487         1
Name: count, Length: 622, dtype: int64

In [10]:
df2=pd.read_excel('HCPFinalSegment.xlsx')

In [11]:
df2.head()

   SymphonyID  Tier1  Tier2  TRx  LAOTRx Unnamed: 5
0    10624194      1      1    0       8        NaT
1    10624420      1      1    0       8        NaT
2    10626245      1      2    2       8        NaT
3    11840985      1      1    0       8        NaT
4    11842540      1      1    0       8        NaT

In [14]:
df2.Tier1.value_counts()

Tier1
1     2121
2     2120
3     2120
4     2120
5     2120
6     2120
7     2120
8     2120
9     2120
10    2120
Name: count, dtype: int64

In [15]:
df2.Tier2.value_counts()

Tier2
1    10810
2     5817
3     4574
Name: count, dtype: int64

In [18]:
df2.LAOTRx.value_counts()

LAOTRx
1       517
2       337
3       314
4       256
5       224
       ...
1897      1
1896      1
1892      1
1888      1
1887      1
Name: count, Length: 2152, dtype: int64

In [1]:
import pandas as pd

In [3]:
df=pd.read_excel('HCPMasterData.xlsx')

In [4]:
df.columns

Index(['SymphonyID', 'Date', 'BupMktNRx', 'BupMktTRx', 'NRx', 'TRx', 'PDE',
       'P1', 'P2', 'Copay', 'SpeakerEvent'],
      dtype='object')

In [6]:
df.SpeakerEvent.value_counts()

SpeakerEvent
1.0    115
2.0      4
Name: count, dtype: int64

In [7]:
df=pd.read_excel('HCPNPPMasterData.xlsx')

In [8]:
df.columns

Index(['Metrics', 'Date', 'TrendMD / Headlines', 'SymphonyID'], dtype='object')

In [9]:
df.Metrics.value_counts()

Metrics
Clicks    21084
Name: count, dtype: int64

In [10]:
df.Metrics.unique()

array(['Clicks'], dtype=object)

In [11]:
df['TrendMD / Headlines'].value_counts()

TrendMD / Headlines
0    19254
1     1830
Name: count, dtype: int64

In [12]:
df=pd.read_csv('HCPZIPMapping.csv')

In [13]:
df.columns

Index(['Unnamed: 0', 'SymphonyID', 'Zip'], dtype='object')

In [15]:
df.Zip.value_counts()

Zip
00601    717
00988    309
95501     77
59101     76
95817     65
        ...
16635      1
17857      1
24963      1
30528      1
93702      1
Name: count, Length: 7400, dtype: int64

In [17]:
df['Unnamed: 0'].nunique()

33002

In [18]:
df.count()

Unnamed: 0    33002
SymphonyID    33002
Zip           31705
dtype: int64

In [20]:
df=pd.read_csv('Segementation_cluster.csv')

In [21]:
df.columns

Index(['Tier1', 'Tier2', 'Cluster'], dtype='object')

In [24]:
df['Tier1'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [25]:
df['Tier2'].unique()

array([1, 2, 3])

In [26]:
df['Cluster'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [27]:
df=pd.read_csv('zip_dma.csv')

In [29]:
df.columns.to_list()

['Zip Code', 'DMA', 'Country', 'Population']

In [30]:
df.DMA.unique()

array(['Springfield-Holyoke MA', 'Boston MA-Manchester NH',
       'Albany-Schenectady-Troy NY', 'Providence-New Bedford,MA',
       'Burlington VT-Plattsburgh NY', 'Portland-Auburn ME', 'Bangor ME',
       'Presque Isle ME', 'Hartford & New Haven CT', 'New York, NY',
       'Philadelphia PA', 'Utica NY', 'Binghamton NY', 'Watertown NY',
       'Syracuse NY', 'Rochester NY', 'Buffalo NY', 'Elmira (Corning) NY',
       'Pittsburgh PA', 'Johnstown-Altoona-State College PA',
       'Washington DC (Hagerstown MD)', 'Erie PA', 'Youngstown OH',
       'Wilkes Barre-Scranton PA', 'Harrisburg-Lancaster-Lebanon-York PA',
       'Salisbury MD', 'Baltimore MD', 'Richmond-Petersburg VA',
       'Charlottesville VA', 'Harrisonburg VA', 'Roanoke-Lynchburg VA',
       'Norfolk-Portsmouth-Newport News VA',
       'Raleigh-Durham (Fayetteville) NC',
       'Greensboro-High Point-Winston Salem NC', 'Tri-Cities TN-VA',
       'Bluefield-Beckley-Oak Hill WV', 'Charleston-Huntington WV',
       'Clarksburg-Weston WV', 'Wheeling WV-Steubenville OH',
       'Parkersburg WV', 'Charlotte NC',
       'Greenville-New Bern-Washington NC',
       'Greenville-Spartanburg-Asheville-Anderson',
       'Florence-Myrtle Beach SC', 'Wilmington NC', 'Chattanooga TN',
       'Atlanta GA', 'Columbia SC', 'Augusta GA', 'Charleston SC',
       'Savannah GA', 'Macon GA', 'Albany GA', 'Columbus GA',
       'Jacksonville FL', 'Tallahassee FL-Thomasville GA',
       'Orlando-Daytona Beach-Melbourne FL', 'Panama City FL',
       'Dothan AL', 'Mobile AL-Pensacola (Ft. Walton Beach) FL',
       'Gainesville FL', 'West Palm Beach-Ft. Pierce FL',
       'Miami-Ft. Lauderdale FL', 'Ft. Myers-Naples FL',
       'Tampa-St. Petersburg (Sarasota) FL',
       'Birmingham (Ann and Tusc) AL', 'Montgomery-Selma, AL',
       'Huntsville-Decatur (Florence) AL', 'Meridian MS',
       'Columbus-Tupelo-West Point MS', 'Nashville TN', 'Knoxville TN',
       'Memphis TN',
       'Paducah KY-Cape Girardeau MO-Harrisburg-Mount Vernon IL',
       'Jackson TN', 'Greenwood-Greenville MS', 'Jackson MS',
       'Hattiesburg-Laurel MS', 'New Orleans LA', 'Biloxi-Gulfport MS',
       'Baton Rouge LA', 'Louisville KY', 'Lexington KY', 'Cincinnati OH',
       'Bowling Green KY', 'Evansville IN', 'Columbus OH',
       'Cleveland-Akron (Canton) OH', 'Dayton OH', 'Toledo OH',
       'Zanesville OH', 'Lima OH', 'Ft. Wayne IN', 'Indianapolis IN',
       'Chicago IL', 'South Bend-Elkhart IN', 'Terre Haute IN',
       'Lafayette IN', 'Champaign & Springfield-Decatur IL', 'Detroit MI',
       'Flint-Saginaw-Bay City MI', 'Traverse City-Cadillac MI',
       'Alpena MI', 'Lansing MI',
       'Grand Rapids-Kalamazoo-Battle Creek MI', 'Marquette MI',
       'Green Bay-Appleton WI', 'Duluth MN-Superior WI',
       'Des Moines-Ames IA', 'Omaha NE',
       'Cedar Rapids-Waterloo-Iowa City & Dubuque IA',
       'Rochester-Mason City-Austin,IA', 'Sioux City IA',
       'Sioux Falls(Mitchell) SD', 'Davenport IA-Rock Island-Moline IL',
       'Ottumwa IA-Kirksville MO', 'Quincy IL-Hannibal MO-Keokuk IA',
       'Milwaukee WI', 'Madison WI', 'La Crosse-Eau Claire WI',
       'Wausau-Rhinelander WI', 'Minneapolis-St. Paul MN', 'Mankato MN',
       'Fargo-Valley City ND', 'Rapid City SD',
       'Minot-Bismarck-Dickinson(Williston) ND', 'Billings, MT',
       'Great Falls MT', 'Glendive MT', 'Helena MT', 'Butte-Bozeman MT',
       'Missoula MT', 'Spokane WA', 'Peoria-Bloomington IL',
       'Rockford IL', 'St. Louis MO', 'Columbia-Jefferson City MO',
       'Kansas City MO', 'St. Joseph MO', 'Springfield MO',
       'Joplin MO-Pittsburg KS', 'Topeka KS', 'Wichita-Hutchinson KS',
       'Lincoln & Hastings-Kearney NE', 'Tulsa OK', 'Denver CO',
       'North Platte NE', 'Cheyenne WY-Scottsbluff NE', 'Lafayette LA',
       'Lake Charles LA', 'Alexandria LA', 'Shreveport LA',
       'Monroe LA-El Dorado AR', 'Little Rock-Pine Bluff AR',
       'Jonesboro AR', 'Ft. Smith-Fayetteville-Springdale-Rogers AR',
       'Oklahoma City OK', 'Wichita Falls TX & Lawton OK',
       'Sherman-Ada, OK', 'Amarillo TX', 'Dallas-Ft. Worth TX',
       'Tyler-Longview(Lufkin & Nacogdoches) TX', 'Waco-Temple-Bryan TX',
       'Houston TX', 'Beaumont-Port Arthur TX', 'Abilene-Sweetwater TX',
       'Austin TX', 'San Angelo TX', 'Odessa-Midland TX', 'Victoria TX',
       'San Antonio TX', 'Corpus Christi TX', 'Laredo TX',
       'Harlingen-Weslaco-Brownsville-McAllen TX', 'Lubbock TX',
       'El Paso TX', 'Colorado Springs-Pueblo CO',
       'Albuquerque-Santa Fe NM', 'Grand Junction-Montrose CO',
       'Casper-Riverton WY', 'Salt Lake City UT',
       'Idaho Falls-Pocatello ID', 'Twin Falls ID', 'Boise ID',
       'Phoenix AZ', 'Tucson (Sierra Vista) AZ', 'Yuma AZ-El Centro CA',
       'Las Vegas NV', 'Los Angeles CA', 'Reno NV', 'San Diego CA',
       'Palm Springs CA', 'Santa Barbara-Santa Maria-San Luis Obispo CA',
       'Fresno-Visalia CA', 'Bakersfield CA', 'Monterey-Salinas CA',
       'San Francisco-Oakland-San Jose CA',
       'Sacramento-Stockton-Modesto CA', 'Eureka CA', 'Chico-Redding CA',
       'Medford-Klamath Falls OR', 'Honolulu HI', 'Portland OR',
       'Eugene OR', 'Bend OR', 'Yakima-Pasco-Richland-Kennewick WA',
       'Seattle-Tacoma WA', 'Anchorage AK', 'Fairbanks AK', 'Juneau AK'],
      dtype=object)

In [32]:
df.Population.value_counts()

Population
0        1922
132        20
498        17
384        16
564        16
         ...
16610       1
31431       1
20567       1
77226       1
9223        1
Name: count, Length: 15444, dtype: int64

In [33]:
df.Population.nunique()

15444

In [34]:
df.count()

Zip Code      31854
DMA           31854
Country       31854
Population    31854
dtype: int64

In [35]:
len(df)

31854

In [36]:
df=pd.read_excel('HCPSegmentData.xlsx')

In [37]:
df.columns.to_list()

['SymphonyID',
 'Specialty',
 'Priority',
 'Decile',
 'Segment',
 'LAOTRx',
 'BupMktTRx',
 'TRx',
 'NRx',
 'PDE',
 'Copay',
 'SpeakerEvent',
 'AUFlag']

In [40]:
df1=pd.read_excel('DMA-ZIP-Population.xlsx')

In [41]:
df1.shape

(31854, 4)

In [42]:
df2=pd.read_csv('zip_dma.csv')

In [43]:
df2.shape

(31854, 4)

In [44]:
df1.columns

Index(['Zip Code', 'DMA', 'County/State', 'Population'], dtype='object')

In [45]:
df2.columns

Index(['Zip Code', 'DMA', 'Country', 'Population'], dtype='object')

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31854 entries, 0 to 31853
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Zip Code      31854 non-null  int64
 1   DMA           31854 non-null  object
 2   County/State  31854 non-null  object
 3   Population    31854 non-null  int64
dtypes: int64(2), object(2)
memory usage: 995.6+ KB

In [49]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31854 entries, 0 to 31853
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Zip Code    31854 non-null  int64
 1   DMA         31854 non-null  object
 2   Country     31854 non-null  object
 3   Population  31854 non-null  int64
dtypes: int64(2), object(2)
memory usage: 995.6+ KB

In [50]:
df1.value_counts()

Zip Code  DMA                      County/State            Population
99824     Juneau AK                JUNEAU, AK              2255          1
1001      Springfield-Holyoke MA   HAMPDEN BALANCE, MA     17537         1
1002      Springfield-Holyoke MA   HAMPSHIRE, MA           30280         1
1003      Springfield-Holyoke MA   HAMPSHIRE, MA           11131         1
1005      Boston MA-Manchester NH  WORCESTER WO SPLIT, MA  5014          1
                                                                        ..
1030      Springfield-Holyoke MA   HAMPDEN BALANCE, MA     11211         1
1031      Boston MA-Manchester NH  WORCESTER B SPLIT, MA   1151          1
1032      Springfield-Holyoke MA   HAMPSHIRE, MA           551           1
1033      Springfield-Holyoke MA   HAMPSHIRE, MA           6300          1
1034      Springfield-Holyoke MA   HAMPDEN BALANCE, MA     2313          1
Name: count, Length: 31854, dtype: int64

In [51]:
df2.value_counts()

Zip Code  DMA                      Country                 Population
99824     Juneau AK                JUNEAU, AK              2255          1
1001      Springfield-Holyoke MA   HAMPDEN BALANCE, MA     17537         1
1002      Springfield-Holyoke MA   HAMPSHIRE, MA           30280         1
1003      Springfield-Holyoke MA   HAMPSHIRE, MA           11131         1
1005      Boston MA-Manchester NH  WORCESTER WO SPLIT, MA  5014          1
                                                                        ..
1030      Springfield-Holyoke MA   HAMPDEN BALANCE, MA     11211         1
1031      Boston MA-Manchester NH  WORCESTER B SPLIT, MA   1151          1
1032      Springfield-Holyoke MA   HAMPSHIRE, MA           551           1
1033      Springfield-Holyoke MA   HAMPSHIRE, MA           6300          1
1034      Springfield-Holyoke MA   HAMPDEN BALANCE, MA     2313          1
Name: count, Length: 31854, dtype: int64

In [52]:
df1.equals(df2)

False

In [53]:
df1.isnull().sum()

Zip Code        0
DMA             0
County/State    0
Population      0
dtype: int64

In [54]:
df2.isnull().sum()

Zip Code      0
DMA           0
Country       0
Population    0
dtype: int64

In [55]:
df1=df1.rename(columns={'County/State': 'Country'})

In [56]:
df1.equals(df2)

True